{% extends 'base.html.twig' %}

{% block title %}Outdeed - S'inscrire{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="container py-4">
		<div class="container">
			<div clas="row">
				<div class="col-12">
					<h1 class="text-center">S'inscrire</h1>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row main-form">
				<div class="col-6 d-flex justify-content-center py-3 left-form">

					<div class="text-center py-5 form-text">
						<div class="form-title">
							<h1 id="titre_register">Outdeed</h1>
						</div>
						<div>
							<p id="slogan_register">L'emploi ne vient pas à vous ? Venez vers l'emploi !</p>
						</div>
					</div>
				</div>
                
				<div class="col-6 right-form py-3 px-5">
					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.username) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword) }}
					{{ form_row(registrationForm.userType) }}
					{{ form_row(registrationForm.agreeTerms) }}
					<div class="d-flex justify-content-center">
						<button type="submit" class="btn btn-outline-success px-3  my-3">Register</button>
					</div>

					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
