{% extends 'base.html.twig' %}

{% block title %}Ajouter un job{% endblock %}

{% block body %}

{# affiche tous les messages flash #}
{% for level, messages in app.flashes %}
{% for message in messages %}
<div class="alert alert-{{ level }}">
    {{ message|raw }} {# le raw ici, permet de ne pas échapper le html et de l'afficher tel quel #}
</div>
{% endfor %}
{% endfor %}

<div class="container mt-3">
    <h1 class="text-center font_title">Publier une offre d'emploi</h1>
</div>

<div class="container my-5">
    <form method="post" id="addArticle">
        <div class="mb-3">
            <label for="title">Titre de l'offre : </label>
            <input type="text" name="title" id="title" class="form-control">
        </div>

        <div class="mb-3">
            <label for="category">Catégorie de l'offre : </label>
            <select name="category" id="category" class="form-select">
                <option value="0" selected disabled>-- Choisir --</option>
                {% for value in categories_availables %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="description_company">Description de l'entreprise : </label>
            <textarea name="description_company" id="description_company" rows="6" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="description_job">Description de l'offre : </label>
            <textarea name="description_job" id="description_job" rows="6" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="description_applicant">Description du profil recherché</label>
            <textarea name="description_applicant" id="description_applicant" rows="6" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="city">Ville : </label>
            <input type="text" name="city" id="city" class="form-control">
        </div>
        <div class="mb-3">
            <label for="wages">Estimation du salaire : </label>
            <input type="text" name="wages" id="wages" class="form-control">
        </div>
        <div class="mb-3">
            <label for="contract">Type de contrat : </label>
            <select name="contract" id="contract" class="form-select">
                <option value="0" selected disabled>-- Choisir --</option>
                {% for value in contract_type %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="benefit">Avantages : </label>
            <textarea name="benefit" id="benefit" rows="6" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="schedule">Horaires : </label>
            <input type="text" name="schedule" id="schedule" class="form-control">
        </div>
        <div class="mb-3">
            <label for="comment">Commentaire : </label>
            <textarea name="comment" id="comment" rows="6" class="form-control"></textarea>
        </div>

        <div class="mb-3 text-center">
            <input type="submit" name="submit" class="btn btn-success" value="Envoyer">

        </div>

    </form>
</div>

{% endblock %}