{% extends 'base.html.twig' %}

{% block title %}Outdeed - Editer une offre{% endblock %}

{% block body %}

<div class="container mt-3">
    <h1 class="text-center font_title">Editer une offre d'emploi</h1>
</div>

<div class="container my-5">
    <form method="post" id="addArticle" class="p-5">
        <div class="mb-3">
            <label class="label_candidate" for="title">Titre de l'offre : </label>
            <input class="input_candidate" type="text" name="title" id="title" value="{{ job.title }}" class="form-control">
        </div>

        <div class="mb-3">
            <label class="label_candidate" for="category">Catégorie de l'offre : </label>
            <select name="category" id="category" class="form-select select_edit">
                <option value="{{ job.category }}" selected>{{ job.category }}</option>
                {% for value in categories_availables %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="description_company">Description de l'entreprise : </label>
            <textarea class="input_candidate" name="description_company" id="description_company" rows="6" class="form-control"></textarea>
            <p>Valeur actuelle : {{ job.descriptionCompany }}</p>
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="description_job">Description de l'offre : </label>
            <textarea class="input_candidate" name="description_job" id="description_job" rows="6" class="form-control"></textarea>
            <p>Valeur actuelle : {{ job.descriptionJob }}</p>
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="description_applicant">Description du profil recherché</label>
            <textarea class="input_candidate" name="description_applicant" id="description_applicant" rows="6" class="form-control"></textarea>
            <p>Valeur actuelle : {{ job.descriptionApplicant }}</p>
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="city">Ville : </label>
            <input class="input_candidate" type="text" name="city" id="city" value="{{ job.city }}" class="form-control">
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="wages">Estimation du salaire : </label>
            <input class="input_candidate" type="text" name="wages" value="{{ job.wages }}" id="wages" class="form-control">
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="contract">Type de contrat : </label>
            <select name="contract" id="contract" class="form-select select_edit">
                <option value="{{ job.contractType }}" selected>{{ job.contractType }}</option>
                {% for value in contract_type %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="benefit">Avantages : </label>
            <textarea class="input_candidate" name="benefit" id="benefit" rows="6" class="form-control"></textarea>
            <p>Valeur actuelle : {{ job.benefits }}</p>
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="schedule">Horaires : </label>
            <input class="input_candidate" type="text" name="schedule" value="{{ job.schedule }}" id="schedule" class="form-control">
        </div>
        <div class="mb-3">
            <label class="label_candidate" for="comment">Commentaire : </label>
            <textarea class="input_candidate" name="comment" id="comment" rows="6" class="form-control"></textarea>
            <p>Valeur actuelle : {{ job.companyComment }}</p>
        </div>

        <div class="mb-3 text-center">
            <input type="submit" name="submit" class="btn button_candidate" value="Envoyer">

        </div>

    </form>
</div>
{% endblock %}