{% extends 'base.html.twig' %}

{% block title %}Outdeed - Offres d'emploi{% endblock %}

{% block body %}
{# # affiche tous les messages flash #}
{% for level, messages in app.flashes %}
{% for message in messages %}
<div class="alert alert-{{ level }}">{{ message|raw}}
</div>
{% endfor %}
{% endfor %}

<div class="container py-3">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-8 blanc">
            <h1 class="text-center">Liste des offres d'emploi</h1>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3 ms-3">
            <form method="get" id="category_sort">
                <select class="form-select" name="category" id="category">
                    <option value="0" selected disabled>-- Recherche par catégories --</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-success" value="Go !">
        </form>
        </div>
        <div class="col-3 ms-3">
            <form method="get" id="job_sort">
                <select class="form-select" name="sort" id="sort">
                    <option value="0" selected disabled>-- Trier par --</option>
                    <option value="nameASC">Ordre alphabetique</option>
                    <option value="nameDESC">Ordre alphabetique inversé</option>
                    <option value="dateASC">Date (plus ancienne à la plus récente)</option>
                    <option value="dateDESC">Date (plus récente à la plus ancienne)</option>
                    <option value="categoryASC">Catégories (Ordre alphabetique)</option>
                    <option value="categoryDESC">Categories (Ordre alphabetique inversé)</option>
                </select>
        </div>
        <div class="col-1">
            <input type="submit" class="btn btn-success" value="Go !">
        </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container mt-3 py-3">
    <div class="row justify-content-center">
        {% if jobs is empty %}
        {% include 'empty.html.twig' %}
        {% endif %}
        {% for job in jobs %}
        <div class="col-md-10 col-lg-8 blanc m-3">
            <div class="card m-3">
                <div class="card-header p-4">
                    <h5 class="font_title"> {{ job.title|capitalize }} | {{job.companyName|capitalize}}</h5>
                </div>
                <div class="card-body d-flex justify-content-between">

                    <div class="me-4">
                        <img width="142" class="img-fluid"
                            src="{{ asset('img/category/' ~ logoCategories[job.category]) }}" alt="{{ job.category }}">
                    </div>
                    <div>
                        <p class="card-title">{{ job.city }}</p>
                        <p class="card-title">{{ job.wages }} par mois | {{ job.contractType }}</p>
                        <p class="card-text">{{ job.descriptionJob|slice(0, 50) }}...</p>
                        <div>
                            <a href="{{ path('job_view', {id: job.id}) }}" class="btn btn-outline-primary">
                                Voir plus ...
                            </a>
                            <a href="{{ path('favourite_add', {id: job.id}) }}" class="mt-2 btn btn-outline-warning">
                                <i class="far fa-heart"></i> Ajouter aux favoris
                            </a>
                        </div>
                    </div>
                    <div class="border rounded position-relative py-2 px-2 ">
                        <p class="card-title"><strong>Salaire : </strong>{{ job.wages }} par mois </p>
                        <p class="card-title"><strong>Horaires : </strong>{{ job.schedule }}</p>
                        <p class="card_date text-muted position-absolute "><strong>Publiée le : </strong>{{
                            job.publishedAt|date('d-m-Y') }}</p>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}