{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}

<div style="max-height : 500px !important;" class="overflow-hidden container-fluid px-0 position-relative">
    <h1 class="font_title text-center text-white position-absolute"> Bienvenu chez Outdeed ! </h1>
    <img class="" src="{{ asset('img/home/desk.jpg') }}" alt="recrutement">
</div>

<div class="container d-flex my-5 justify-content-around">

    <div class="me-3">
        <a href="{{ path('job_list') }}"><img class="img-fluid" src="{{ asset('img/home/recrutement.jpg') }}" alt="recrutement"></a>
    </div>
    <div class="me-3">
        <a href="{{ path('job_list') }}"><img class="img-fluid" src="{{ asset('img/home/recrutement.jpg') }}" alt="recrutement"></a>
    </div>
    <div>
        <a href="{{ path('job_list') }}"><img class="img-fluid" src="{{ asset('img/home/recrutement.jpg') }}" alt="recrutement"></a>
    </div>
</div>
{% endblock %}