{% extends 'base_admin.html.twig' %}

{% block title %}Liste d'entreprises{% endblock %}

{% block body %}
{# # affiche tous les messages flash #}
{% for level, messages in app.flashes %}
{% for message in messages %}
<div class="alert alert-{{ level }}">{{ message|raw}}
</div>
{% endfor %}
{% endfor %}
<div class="container py-3">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-8 blanc">
            <h1 class="text-center">Liste des entreprises</h1>
        </div>
    </div>
</div>

<div class="companies-body container mt-3 py-3">
    <div class="row justify-content-center">
        {% for company in companies %}
        <div class="col-md-10 col-lg-8 blanc m-3">
            <div class="card m-3">
                <div class="card-header p-4">
                    <h5 class="font_title"> {{ company.name}}</h5>
                </div>
                <div class="card-body d-flex justify-content-between">
                        <div>
                            <p class="card-title">{{ company.category }}</p>
                            <p class="card-text">{{ company.description|slice(0, 50) }}...</p>
                            <a href="{{ path('company_view', {id: company.id}) }}" class="btn btn-outline-primary">Voir plus
                                ...</a>

                            <a class="btn btn-outline-danger"   href="{{ path('company_delete', {id: company.id}) }}">Delete</a>
                        </div>
                        <div class="border rounded py-2 px-2 ">
                            <p class="card-title"><strong>Email : </strong>{{ company.contactEmail }}</p>
                            <p class="card-title"><strong>Téléphone : </strong>{{ company.phone }}</p>
                            <p class="card-title"><strong>Ville : </strong>{{ company.city }}</p>
                            
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}