{% extends 'base_admin.html.twig' %}

{% block title %}Outdeed - Admin{% endblock %}

{% block body %}
{# # affiche tous les messages flash #}
{% for level, messages in app.flashes %}
{% for message in messages %}
<div class="alert alert-{{ level }}">{{ message|raw}}
</div>
{% endfor %}
{% endfor %}

<div class="container py-3">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-8 blanc">
            <h1 class="text-center">Liste des offres d'emploi</h1>
        </div>
    </div>
</div>

<div class="container mt-3 py-3">
    <div class="row justify-content-center">
        {% for job in jobs %}
        <div class="col-md-10 col-lg-8 blanc m-3">
            <div class="card m-3">
                <div class="card-header p-4">
                    <h5 class="font_title"> {{ job.title|capitalize }} | {{job.companyName|capitalize}}</h5>                    
                </div>
                <div class="card-body d-flex justify-content-between">
                        <div>
                            <p class="card-title">{{ job.city }}</p>
                            <p class="card-title">{{ job.wages }} par mois | {{ job.contractType }}</p>
                            <p class="card-text">{{ job.descriptionJob|slice(0, 50) }}...</p>
                            <a href="{{ path('job_view', {id: job.id}) }}" class="btn btn-outline-primary">Voir plus
                                ...</a>
                                <a class="btn btn-outline-danger" href="{{ path('job_delete', {id: job.id}) }}">Delete</a>
                        </div>
                        <div class="border rounded position-relative py-2 px-2 ">
                            <p class="card-title"><strong>Salaire : </strong>{{ job.wages }} par mois </p>
                            <p class="card-title"><strong>Horaires : </strong>{{ job.schedule }}</p>
                            <p class="card_date text-muted position-absolute "><strong>Publiée le : </strong>{{
                                job.publishedAt|date('d-m-Y') }}</p>
                        </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}