{% extends 'base.html.twig' %}

{% block title %}Outdeed - Se connecter{% endblock %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger my-3 container">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="container mt-5">
		<div clas="row">
			<div class="col-12">
				<h1 class="text-center">Se connecter</h1>
			</div>
		</div>
	</div>

	<div class="container main-login">
		<div class="row">
			<div class="col-7 login-left px-5 py-3">
				<form action="{{ path('login') }}" method="post">

					<div>
						<label for="username">Nom d'utilisateur :
						</label>
						<input class="form-control mb-2" type="text" id="username" name="_username" value="{{ last_username }}"/>
					</div>

					<div>
						<label for="password">Mot de passe :</label>
						<input class="form-control mb-2" type="password" id="password" name="_password"/>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class=" text-center">
						<button class="btn btn-outline-success px-3  my-3" name="submit" type="submit">Se connecter</button>
					</div>

				</form>
			</div>	
			<div class="col-5 login-right">
				<div id="user-logo" class="">
					<img src="{{ asset('img/home/001-user.png')}}">
				</div>
			</div>
		</div>
	</div>


{% endblock %}
