{% extends "base.html.twig" %}

{% block title %}Outdeed - Fiche entreprise{% endblock %}

{% block body %}
	<div class="background-img d-flex ">
		<div class="container banner mt-auto">
			<div class="row banner-body align-items-end ">
				<div class="col-3 banner-left ">
					<div class="logo-img"></div>
				</div>
				<div class="col-9 banner-right">
					<div class="row ">

						<div class="col-12 d-flex align-items-center justify-content-around">
							<h1 class="font_title">{{ company.name }}</h1>
							<span style="font-size: 16px !important;" class="badge bg-info text-dark">{{company.category}}</span>
							<p class="text_head mb-0">
								<strong>Localisation
								</strong>
								<i class="fas fa-map-marker-alt"></i>
								:
								{{company.city}}</p>
							<a class="mb-0">Voir le site</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="my-5 container">
		<div class="card_container justify-content-between text-center">
			<div style="max-width: 800px !important;" class="card_body">
				<div class="d-flex">
					<div>
						<p class="text_head">
							<strong>Date de création :
							</strong>
							{{ company.createdAt ?
                        company.createdAt|date('d/m/Y') : '' }}</p>
					</div>
				</div>


				<h3 class="font_title mt-4">
					Description de l'entreprise :
				</h3>
				<p>{{ company.description|nl2br }}</p>


			</div>
			<div style="max-width: 300px !important;">
				<div class="p-3 mt-5 border card-header">
					<h5>Contactez-nous</h5>
					<p class="text_head">
						<strong>Email de contact :
						</strong>
						<br>{{ company.contactEmail }}</p>
					<p class="text_head">
						<strong>Numéro de téléphone :
						</strong><br>{{ company.phone }}</p>


				</div>
				<hr class="text-center mt-3 mb-3 mx-auto" width="200">
			</div>
		</div>
	</div>

    <div class="container my-4">
        <div class="row">   
            <div class="col-6">
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12689.328712973129!2d-122.008972!3d37.3346438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b0d8391510688f0!2sApple%20Park!5e0!3m2!1sfr!2sfr!4v1641907704501!5m2!1sfr!2sfr" width="500" height="350" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-6">
                <div class="socials-container">
                        <div class="text-center">
                            <h3>Réseaux sociaux</h3>
                        </div>
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-12 socials-logos d-flex justify-content-around">
                                    <p class="mb-0"><i class="fab fa-facebook-f"></i></p>
                                    <p class="mb-0"><i class="fab fa-twitter"></i></p>
                                    <p class="mb-0"><i class="fab fa-instagram"></i></p>
                                    <p class="mb-0"><i class="fab fa-youtube"></i></p>
                                    <p class="mb-0"><i class="fab fa-linkedin"></i></p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

	


{% endblock %}
