{% extends "base.html.twig" %}

{% block title %}Outdeed - Fiche entreprise{% endblock %}

{% block body %}

	<div class="container background-img">
		<div class="row banner-body my-4 d-flex flex-column flex-md-row align-items-md-end">
			<div class="col-lg-3 col-md-12 banner-left text-center text-lg-start">
					<img id="logo-company" class="img-fluid" src="{{ asset(company.pdp) }}" alt="{{ company.name }}">
			</div>
			<div class="col-lg-9  col-md-12 banner-right ">
					<div class="flex-md-row flex-column d-flex align-items-center justify-content-start justify-content-md-between text-center mx-3 mb-3 mb-md-0">
						<h1 class="col-12 col-md-3 font_title">{{ company.name }}</h1>
						<span style="font-size: 16px !important;" class="badge bg-info text-dark">{{company.category}}</span>
						<p class="text_head mb-0"><strong>Localisation :</strong><i class="fas fa-map-marker-alt"></i>{{company.city}}</p>
					</div>
				</div>
			</div>
	</div>
	
	<div class="my-5 container">
		<div class="card_container d-flex flex-column flex-md-row justify-content-between text-center">
			<div class="card_body">
				<div class="d-flex">
					<div>
						<p class="text_head">
							<strong>Date de création :
							</strong>
							{{ company.createdAt ?
                        company.createdAt|date('d/m/Y') : '' }}</p>
					</div>
				</div>


				<h3 class="font_title mt-4">
					Description de l'entreprise :
				</h3>
				<p class="">{{ company.description|nl2br }}</p>
			</div>
			
			<div class="ms-2">
				<div class="p-3 mt-5 border card-header" style="border-radius: 20px;">
					<h5>Contactez-nous</h5>
					<p class="text_head">
						<strong>Email de contact :
						</strong>
						<br>{{ company.contactEmail }}</p>
					<p class="text_head">
						<strong>Numéro de téléphone :
						</strong><br>{{ company.phone }}</p>
				</div>

				<hr class="text-center mt-3 mb-3 mx-auto" width="200">
			</div>

		</div>
	</div>
	
	<div class="container my-4">
		<div class="row d-flex flex-column">
			<div class="col-12">
				<div id="map" class="map-container" style="height : 500px;">

                </div>
			</div>
		</div>
	</div>
	{# START EMPLOIS #}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="mt-5">Offres d'emploi de cette entreprise</h2>
			</div>
		</div>
	</div>

	<div class="container mt-5">
		<div class="row d-flex flex-column flex-md-row align-items-md-center flew-wrap  justify-content-start">
			{% for job in jobs|slice(0,5) %}
				<div class="mt-2 col-12 col-md-6">
					<div class="card card-body p-3" style="border-radius: 20px;">
						<h5 class="card-title my-2">{{ job.title|upper }}</h5>
						{# <img  class="col-4  img-fluid" src="{{ asset('img/category/' ~ logoCategories[company.category]) }}" alt="{{ company.category }}"> #}
						<p class="card-text">{{ job.descriptionJob|slice(0,130) }}. . .</p>
						<a href="{{ path('job_view', {id: job.id}) }}" class="card-link">Voir plus</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	{# END EMPLOIS #}

	{# START ENTREPRISES SECTEUR #}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class=" mt-5">Entreprises du même secteur</h2>
			</div>	
		</div>
	</div>

	<div class="container my-5">
		<div class="row d-flex flex-wrap">
			{% for companies in companies|slice(0,5) %}
					<div class="card col-sm-12 col-md-4 col-lg-3 mx-2 p-3" style="border-radius: 20px;">
							<h5 class="card-title">{{ companies.name|upper }}</h5>
							{# <img class="col-4  img-fluid" src="{{ asset('img/category/' ~ logoCategories[company.category]) }}" alt="{{ company.category }}"> #}
							<p class="card-text">{{ companies.description|slice(0,150) }} . . .</p>
							<a href="{{ path('company_view', {id: companies.id}) }}" class="card-link">Voir plus</a>
					</div>
			{% endfor %}
		</div>
	</div>

	{#END ENTREPRISES SECTEUR #}
{% endblock %}

{% block javascripts %}
<script>
    var map;
    function initMap() {

        //the location 
        const spot = { lat: {{ company.lat }}, lng: {{ company.lng }} };

        //the map centered at the location
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: {{ company.lat }}, lng: {{ company.lng }} },
            zoom: 16,						
            });

        // The marker, positioned at the targeted location
        const marker = new google.maps.Marker({
            position: spot,
            map: map,
            title: "{{company.name}}",
        });
	}
</script>


<script src="https://maps.googleapis.com/maps/api/js?key={{key_google}}&callback=initMap" async defer></script>

{% endblock %}