<nav role="navigation" class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="d-flex justify-content-between container-fluid px-5">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('LOGO OUTDEED.png') }}" alt="logo_outdeed" width="100" height="56">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="col-4 navbar-nav nav-fill w-100">
                <li class="col-4 nav-link">
                    <a class="nav-link active" aria-current="page" href="{{path('home')}}">Accueil</a>
                </li>
                <li class="col-4 d-flex align-middle nav-link dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Offres d'emploi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('job_list')}}">Liste des jobs</a></li>
                        {% if (app.user) %}
                        {% if (app.user.userType == 'company') or ("ROLE_ADMIN" in app.user.roles) %}
                        <li><a class="dropdown-item" href="{{ path('job_add')}}">Ajouter un job</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </li>
                <li class="col-4 d-flex align-middle nav-link dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Les entreprises
                    </a>
                    <ul class="sous-link dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('company_list') }}">Liste des entreprises</a></li>
                    </ul>
                </li>
                {% if not app.user %}
                <li class="col-4 d-flex align-middle nav-link dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Connexion
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ path('login') }}">Se connecter</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="col-4 d-flex align-middle nav-link dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.user.username|capitalize }} <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if (app.user.userType == 'company') %}
                        <li><a class="dropdown-item" href="{{ path('account_company') }}">Mon compte</a></li>
                        <li><a class="dropdown-item" href="{{ path('favourite_list') }}">Mes offres favorites</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% endif %}
                        {% if (app.user.userType == 'candidate') %}
                        <li><a class="dropdown-item" href="{{ path('account_candidate') }}">Mon compte</a></li>
                        <li><a class="dropdown-item" href="{{ path('favourite_list') }}">Mes offres favorites</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% endif %}
                        {% if "ROLE_ADMIN" in app.user.roles %}
                        <li><a class="dropdown-item" href="{{ path('admin') }}">Admin</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-flex my-2 my-lg-0">

        </div>
    </div>
</nav>