{% extends 'base.html.twig' %}

{% block title %}Outdeed - Postuler{% endblock %}

{% block body %}

<div class="container mt-3 py-3">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-8 blanc">
            <h1 class="text-center font_title fw-bold">Postuler</h1>
        </div>
    </div>
</div>
<div class="container my-5" >
    <div class="row justify-content-center " >
        <div class="col-12 col-md-10 col-lg-8 p-2 blanc p-5" id="addArticle">
           
            <div class="row my-3 blanc">
                <h5 class="mt-2 text-center font_title fw-bold">Récapitulatif de l'offre :</h5>
                <div class="col-12 col-md-6">
                    <p><span class="fw-bold">Titre de l'offre  </span>: {{ job.title }}</p>
                    <p><span class="fw-bold">Type du contrat</span> : {{ job.contractType }}</p>
                    <p><span class="fw-bold">Horaire </span>: {{ job.schedule }}</p>
                   
                </div>
                <div class="col-12 col-md-6">
                    <p><span class="fw-bold">Avantage</span> : {{ job.benefits }}</p>
                    <p><span class="fw-bold">Salaire </span> :  {{ job.wages }}</p>
                    <p><span class="fw-bold">Localisation de l'offre</span> : {{ job.city }}</p>
                </div>
            </div>
            <h4 class="text-center font_title fw-bold"> Veuillez écrire votre lettre de motivation  :    </h4>
            <form method="POST" id="form_apply">
                <div class="mb-3">
                    <label for="motivation" class="form-label">Message de motivation (3000 caractères maximum) :</label>
                    <textarea class="form-control input_candidate" id="motivation" name="motivation" rows="10"
                        placeholder="Ma lettre de motivation ..."></textarea>
                </div>
   
                <div class="container text-center">
                    <input class="btn btn-success" type="submit" name="submit" value="Postuler">
                    </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}