{% extends 'base.html.twig' %}

{% block title %}Outdeed - Mes postulants{% endblock %}

{% block body %}

<div class="blanc container py-2 mt-5">
    <h1 class="text-center">Liste des postulants</h1>
</div>

<div class="container my-3">
    {% if postulations is empty %}
    {% include 'empty.html.twig' %}
    {% else %}

    {% for postulation in postulations %}
    <div class="card m-3">
        <div class="card-header p-4">
            <h5 class="font_title">{{ postulation['job'].title|capitalize }} | {{ postulation['job'].companyName }}
                <a title="Modifier" style="color : black !important;" class="ms-2" href="{{ path('job_edit', {id: postulation['job'].id}) }}"><i  class="far fa-edit"></i></a>
                <a title="Supprimer" style="color : black !important;" href="{{ path('job_delete', {id: postulation['job'].id}) }}"><i class="far fa-trash-alt"></i></a>
            </h5>
            <a title="Détails de l'annonce" class="my_links_r" href="{{ path('job_view', {id: postulation['job'].id}) }}">Voir l'annonce</a>
        </div>
        <div class="card-body">
            <div>
                {% set nbPostulants = postulation['applicants']|length %}
                {% if nbPostulants == '0' %}
                <p>Personne n'a encore postulé à votre offre, revenez plus tard !</p>
                {% endif %}
                {% if nbPostulants == '1' %}
                <p>1 personne a postulé à votre offre :</p>
                {% endif %}
                {% if nbPostulants > 1 %}
                <p>{{ nbPostulants }} personnes ont postulé à votre offre :</p>
                {% endif %}
            </div>
            <div>
                {% if postulation['applicants'] %}
                <div class="accordion accordion-flush" id="accordion{{postulation['job'].title}}">
                    {% set count = 1 %}
                    {% for candidate in postulation['candidates'] %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{count}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse{{count}}" aria-expanded="false"
                                aria-controls="flush-collapse{{count}}">
                                {{ candidate.firstName|capitalize }} {{ candidate.lastName|upper }}
                            </button>
                        </h2>
                        <div id="flush-collapse{{count}}" class="accordion-collapse collapse"
                            aria-labelledby="flush-heading{{count}}"
                            data-bs-parent="#accordion{{postulation['job'].title}}">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <div>
                                                <img class="mb-2" width="150" src="{{ asset(candidate.pdp) }}"
                                                    alt="Photo de profil de {{candidate.firstName}} {{candidate.lastName}}">
                                            </div>
                                            <div class="ms-3">
                                                <p>
                                                    <strong>Date de naissance :</strong>
                                                    {{candidate.birthdate|date('d-m-Y')}}
                                                </p>
                                                <p>
                                                    <strong>Téléphone portable :</strong>
                                                    {{candidate.phoneNumber}}
                                                </p>
                                                <p>
                                                    <strong>Ville de résidence :</strong>
                                                    {{candidate.city}}
                                                </p>
                                                <p class="">
                                                    <strong>
                                                        Message de motivation : <br>
                                                    </strong>
                                                    {{ postulation['applicants'][count-1].motivationLetter }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <p class="ms-3">
                                                <strong>
                                                    Ses expériences professionnelles : <br>
                                                </strong>
                                                {% if candidate.professionalExperience is empty %}
                                                <span class="fst-italic">L'utilisateur n'a rien renseigné ...</span>
                                                {% endif %}
                                                {% for exp in candidate.professionalExperience %}
                                                {{ exp.jobName|capitalize }} chez {{ exp.companyName|capitalize }}
                                                pendant
                                                {{ exp.duration }} an(s).<br>
                                                {% endfor %}
                                            </p>
                                        </div>
                                        <div>
                                            <p class="ms-3">
                                                <strong>
                                                    Ses compétences techniques : <br>
                                                </strong>
                                                {% if candidate.skills is empty %}
                                                <span class="fst-italic">L'utilisateur n'a rien renseigné ...</span>
                                                {% endif %}
                                                {% for skill in candidate.skills %}
                                                {{ skill.skillName|upper }} depuis {{ skill.yearsOfExperience }}
                                                an(s).<br>
                                                {% endfor %}
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="text-center">
                                    <a class="btn btn-outline-primary" href="{{ asset(candidate.cv) }}"
                                        download="{{candidate.firstName}}_{{candidate.lastName}}_CV.pdf">
                                        Télécharger le CV de {{candidate.firstName}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% set count = count + 1 %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    {% endif %}
</div>

<div class="container text-center">
    <a class="mb-3 btn btn-outline-secondary" href="{{ path('home') }}">Retour à l'accueil</a>
</div>

{% endblock %}