{% extends 'base.html.twig' %}

{% block title %}Outdeed - Mes offres favorites{% endblock %}

{% block body %}

<div class="container py-3">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-8 blanc">
            <h1 class="text-center">Mes offres favorites</h1>
        </div>
    </div>
</div>

<div class="container mt-3 py-3">
    <div class="row justify-content-center">
        {% if favourites is not empty %}
        {% for favourite in favourites %}
        <div class="col-md-10 col-lg-8 blanc m-3">
            <div class="card m-3">
                <div class="card-header p-4">
                    <h5 class="font_title"> {{ favourite.title|capitalize }} | {{favourite.companyName|capitalize}}</h5>
                </div>
                <div class="card-body d-flex justify-content-between">

                    <div class="me-4">
                        <img width="142" class="img-fluid"
                            src="{{ asset('img/category/' ~ logoCategories[favourite.category]) }}"
                            alt="{{ favourite.category }}">
                    </div>
                    <div>
                        <p class="card-title">{{ favourite.city }}</p>
                        <p class="card-title">{{ favourite.wages }} par mois | {{ favourite.contractType }}</p>
                        <p class="card-text">{{ favourite.descriptionJob|slice(0, 50) }}...</p>
                        <div>
                            <a href="{{ path('job_view', {id: favourite.id}) }}" class="btn btn-outline-primary">
                                Voir plus ...
                            </a>
                            <a href="{{ path('favourite_delete', {id: favourite.id}) }}" class="btn btn-outline-danger">
                                <i class="fas fa-heart-broken"></i> Supprimer des favoris
                            </a>
                        </div>
                    </div>
                    <div class="border rounded position-relative py-2 px-2 ">
                        <p class="card-title"><strong>Salaire : </strong>{{ favourite.wages }} par mois </p>
                        <p class="card-title"><strong>Horaires : </strong>{{ favourite.schedule }}</p>
                        <p class="card_date text-muted position-absolute "><strong>Publiée le : </strong>{{
                            favourite.publishedAt|date('d-m-Y') }}</p>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}        
        {% else %}
            {% include 'empty.html.twig' %}        
        {% endif %}
    </div>
</div>

{% endblock %}