{% extends 'base.html.twig' %}

{% block title %}Outdeed - Mon compte{% endblock %}

{% block body %}

<div class="container mt-3">
    <h1 class="text-center font_title">Mon compte</h1>
</div>

{% if app.user.userType == "candidate" %}
<div class="container my-5 d-flex justify-content-evenly">
    <img src="{{candidate.pdp}}" width="300" alt="">

    <div id="info">
        <h2 class="mb-2">Informations personnelles</h2>
        <span>Nom complet : {{candidate.firstName}} {{candidate.lastName}}</span><br>
        <span>Numéro de téléphone portable : {{candidate.phoneNumber}}</span><br>
        <span>Ville de résidence : {{candidate.city}}</span><br>
        <span>Adresse : {{candidate.address}}</span><br>
        <span>Date de naissance : {{candidate.birthdate|date('d-m-Y') }}</span><br>
        <div class="mt-4">
            <a class="btn btn-outline-secondary"
                href="{{ path('candidate_edit', {id: candidate.id}) }}">Editer</a>
            </div>  
    </div>
    <div>

        <div class="col-8">

            {% if app.user.userType == "candidate" %}

            <div class="card" id="info">
                <h2 class="mb-2">Informations personnelles</h2>
                <span>Nom complet : {{candidate.firstName}} {{candidate.lastName}}</span><br>
                <span>Numéro de téléphone portable : {{candidate.phoneNumber}}</span><br>
                <span>Ville de résidence : {{candidate.city}}</span><br>
                <span>Adresse : {{candidate.address}}</span><br>
                <span>Date de naissance : {{candidate.birthdate|date('d-m-Y') }}</span><br>
            </div>
            {% endif %}

            <div class="exp-container my-3">
                <h2 class="mb-2">Mes expériences professionnelles</h2>
                {% if experiences %}
                {% for experience in experiences %}
                    <div>
                        <h3 class="text-center">{{ experience.companyName }}</h3>
                        <p class="text-center">{{ experience.jobName }} pendant {{ experience.duration }} {% if
                            experience.duration == 1 %} an {% else %} ans {% endif %}</p>
                        <div class="text-center">
                            <a class="btn btn-outline-secondary"
                                href="{{ path('experience_edit', {id: experience.id}) }}">Editer</a>
                            <a class="btn btn-outline-danger"
                                href="{{ path('experience_delete', {id: experience.id}) }}">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                <a href="{{ path('experience_add') }}" class="btn btn-outline-success">Ajouter une expérience</a>

            </div>

            <div class="exp-container my-3">
                <h2 class="mb-2">Mes compétences techniques</h2>
                {% if skills %}
                {% for skill in skills %}
                <div class="mb-3">
                    <h3 class="text-center">{{ skill.skillName }}</h3>
                    <p class="text-center">{{ skill.yearsOfExperience }} {% if
                        skill.yearsOfExperience == 1 %} an {% else %} ans {% endif %}d'experience</p>
                    <div class="text-center">
                        <a class="btn btn-outline-secondary"
                            href="{{ path('skill_edit', {id: skill.id}) }}">Editer</a>
                        <a class="btn btn-outline-danger"
                            href="{{ path('skill_delete', {id: skill.id}) }}">Supprimer</a>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <a href="{{ path('skill_add')}}" class="btn btn-outline-success">Ajouter une compétence</a>
            </div>
        </div>

        <div class="col-4 my-3">
            
            <div class="card">
                {# Grace au for , nous obtenons les applications de l'applicant
                applicant = 1 postulation depuis laquelle nou récuperons l'offre d'emploi ,
                et ensuite nous récuperons le titre  
                #}

                {% for applicant in applications  %}
                    {{applicant.getJob().getTitle()}}
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
        {% endblock %}
